{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load i18n %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
<div>
  <h3>{% trans "Users" %}</h3>
  <table class='table table-hover table-bordered'>
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">{% trans 'User' %}</th>
      <th scope="col">{% trans 'username' %}</th>
      <th scope="col">{% trans 'registration date' %}</th>
      <th scope="col">{% trans 'edit' %}</th>
      <th scope="col">{% trans 'delete' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.get_full_name}}</td>
        <td>{{user.date_joined}}</td>
        <td>
           <a class="p-2 text-dark" href="{% url 'edit_user' user.id %}">{% trans "edit" %}</a>
        </td>
        <td>
           <a class="p-2 text-dark" href="{% url 'delete_user' user.id %}">{% trans "delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}