{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load i18n %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
<h3>{% trans "labels" %}</h3>
<div>
  <td>
    <a class="p-2 text-dark" href="{% url 'create_label'%}">{% trans "create label" %}</a>
  </td>
  <table class='table table-hover table-bordered'>
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">{% trans 'label_name' %}</th>
      <th scope="col">{% trans 'edit' %}</th>
      <th scope="col">{% trans 'delete' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for label in labels %}
      <tr>
        <td>{{label.id}}</td>
        <td>{{label.name}}</td>
        <td>
           <a class="p-2 text-dark" href="{% url 'update_label' label.id %}">{% trans "edit" %}</a>
        </td>
        <td>
           <a class="p-2 text-dark" href="{% url 'delete_label' label.id %}">{% trans "delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}